<% provide(:title, 'About Us') %>

<h3>About Activity Finder</h3>
<hr>

<p>
	Activity finder is the web page which helps people to find sport activities according their interest and choosen location. It also includes many sport facilities which can be evaluated and add to 	activities.	
</p>

<p>
	This page was created as a help for people who would like to practise any type of sport, but they do not have appropriate sport partners. You can find there also sport facilities for your		activities, add to someone who practising sport in your favourite one or just find out any information about facility in choosen location.
</p>

<hr>

<h4>What can I do without registration?</h4>

<p>
	You can find sport activities according your interest and look at information about this activity. At the home page you choose location and type of activity. Then click "Find activity" and choose from activities in our database. Click at one of them to see more information about the activity.
</p>

<p>
	If you want to find any sport facility you can choose location and activity type of the facility and click "Find facility". Then just choose and look at the information about choosen one.
</p>

<hr>

<h4>Why registration?</h4>

<p>
	Registration will open new functionality for you:
</p>

<p>
	<b>Home page</b><br>
	Home page give you possibility to see and control everything important for you. On the top there are buttons represent most important functions for you.<br>
	On the left side under profile photo, there is the list which includes activities created by you. Right side includes your future activity participaions.<br>
	Central part of home page is your post feed. There are your posts and posts of users you follow with comments. You can add new post or comment existing one. Among posts are also new activities which was created.  
</p>

<p>
	<b>Create activty</b><br>...
</p>

<p>
	<b>Users' profiles</b><br>...
</p>

<p>
	<b>My activities</b><br>...
</p>

<p>
	<b>My participations</b><br>...
</p>

<p>
	<b>Join to and comment activities</b><br>...
</p>


<hr>

<center>
	<p>
		Not enough information? You want to help us? Do you have any idea to make Activity Finder better? Did you find any bug?
	</p>

	<%= link_to contact_path, :class => 'btn btn-medium'  do %>
		<i class="icon-black icon-globe"></i> Contact us
	<% end %>
</center>
