<% provide(:title, 'About Us') %>

<h3>About Activity Finder</h3>
<hr>

<p>
	Activity finder is the web page which helps people to find sport activities according their interest and choosen location. It also includes many sport facilities which can be evaluated and add to 	activities.	
</p>

<p>
	This page was created as a help for people who would like to practise any type of sport, but their don't have appropriate sport partners. You can find there also sport facilities for your		activities or just add to someone who practising sport in your favourite one.
</p>

<hr>

<h4>What can I do without registration?</h4>

<p>
	You can find sport activities according your interest and look at information about this activity. At the home page you choose location and type of activity. Then click "Search" and choose from activities in our database. Click at one of them to see more information about the activity..
</p>


