<% provide(:title, 'Contact') %>

<h3>Contact</h3>
<hr>

<p>
	<b>Author:</b> Jozef Zatko
</p>

<p>
	<b>Email:</b> zatko7071@gmail.com
</p>

<p>
	<b>Created:</b> march-june 2013 as Research seminar project at FIIT STU
</p>

