<div class="center hero-unit">
  <h1>Welcome to the Activity Finder</h1>

  <h2>
    This is the right place to find activities to enjoy them with other people
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

