<a href="<%= facility_path(facility) %>">
	
	<div class="well" style="width:96%;background:#00FFFF" onmouseover="this.style.background='#87CEFA';" onmouseout="this.style.background='#00FFFF';">
		<font color="black">

			<h4><%= facility.title %></h4>
			<%= facility.adress %>

		</font>

	</div>
</a>
