<div class="row">

	<aside class="span4">

		<section>

			<div class="well">
				<h4>Followers' activities:</h4>

				<% @foll_act.each do |i| %>
					<dd>
						<%= link_to i.title, i %>
					</dd>
				<% end %>				

			</div>

		</section>
	
	</aside>


	<div class="span8">
		<h3>My activities (<%= current_user.getActivityCount %>)</h3>
		  
		<hr>

		<ol class="activities">
			<%= render @activities %>
		</ol>

		<%= will_paginate @activities %>

	</div>
</div>
