<footer class="footer">

	<small>Activity Finder v0.1b © Jozef Zatko</small>

	<nav>
		<ul>
			<li><b><%= link_to "About", about_path %></b></li>
			<li><b><%= link_to "Contact", contact_path %></b></li>
		</ul>
	</nav>
</footer>
